[Desktop Entry]
Type=Application
Name=Caldrayne Online
Name[zh_CN]=卡德雷恩 Online
Comment=Caldrayne Online is a multiplayer voxel action RPG
Comment[de]=Caldrayne Online ist ein Multiplayer-Voxel-Action-RPG
Comment[zh_CN]=卡德雷恩 Online 是一款多人联机体素动作角色扮演游戏
Exec=veloren-voxygen
Categories=Game;Simulation;
Keywords=caldrayne;veldr;voxel;adventure;fantasy;multiplayer;roleplaying;sandbox;
Icon=io.github.wanli149.caldrayne
Terminal=false
