[Desktop Entry]
Type=Application
Name=Caldrayne Online
Comment=Caldrayne Online is a multiplayer voxel RPG built on the Veloren open-source foundation
Comment[de]=Caldrayne Online ist ein Mehrspieler-Voxel-RPG auf Basis der offenen Veloren-Grundlage
Exec=veloren-voxygen
Categories=Game;Simulation;
Keywords=caldrayne;veldr;voxel;adventure;fantasy;multiplayer;roleplaying;sandbox;
Icon=io.github.wanli149.caldrayne
Terminal=false
